<div id="SITE_CONTAINER">
  <div id="main_MF">
    <div id="SCROLL_TO_TOP" class="qhwIj ignore-focus" tabindex="-1" role="region" aria-label="top of page"> </div>

    <div id="BACKGROUND_GROUP">
			<div id="BACKGROUND_GROUP_TRANSITION_GROUP">
				<div id="pageBackground_c1dmp" data-media-height-override-type="" data-media-position-override="false" class="_2v3yk">
					<div id="bgLayers_pageBackground_c1dmp" data-hook="bgLayers" class="_3wnIc">
						<div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
						<div id="bgMedia_pageBackground_c1dmp" class="_2GUhU"></div>
						<div data-testid="bgOverlay" class="_1eCSh"></div>
					</div>
				</div>
			</div>
    </div>

    <div id="site-root">
      <div id="masterPage" class="mesh-layout">
        <%= render "header" %>
        <main id="PAGES_CONTAINER" tabindex="-1">
          <div id="SITE_PAGES">
						<div id="SITE_PAGES_TRANSITION_GROUP" class="_2YGAo">
							<div id="klm6u" class="Ry26q">
								<div class="_3CemL" data-testid="page-bg"></div>
									<div class="_3K7uv">
										<div id="Containerklm6u" class="_1KV2M">
											<div data-mesh-id="Containerklm6uinlineContent" data-testid="inline-content" class="">
												<div data-mesh-id="Containerklm6uinlineContent-gridContainer" data-testid="mesh-container-content">
													<section id="comp-kqc8d21n" class="_3d64y">
														<div id="bgLayers_comp-kqc8d21n" data-hook="bgLayers" class="_3wnIc">
															<div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
															<div id="bgMedia_comp-kqc8d21n" class="_2GUhU"></div>
														</div>
																			
														<div data-testid="columns" class="_1uldx">
															<div id="comp-kqc8d22n" class="_1vNJf">
																<div id="bgLayers_comp-kqc8d22n" data-hook="bgLayers" class="_3wnIc">
																	<div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
																	<div id="bgMedia_comp-kqc8d22n" class="_2GUhU"></div>
																</div>	
																
																




																<div data-mesh-id="comp-kqc8d22ninlineContent" data-testid="inline-content" class="">
																	<div data-mesh-id="comp-kqc8d22ninlineContent-gridContainer" data-testid="mesh-container-content">
																		<div id="comp-kqc8d22s" class="_1Q9if" data-testid="richTextElement">
																			<p class="font_8" style="font-size:14px; line-height:2.5em; text-align:center;">
																				<span style="color:#94703a;">
																					<span style="font-family:libre baskerville,serif;">
																						<span style="font-weight:400;">
																							<span style="font-size:22px;">Dr. Preeti Parekh Tomar</span>
																						</span>
																					</span>
																				</span>
																			</p>

																			<p class="font_8" style="font-size:16px; line-height:2.5em; text-align:center;">
																				<span style="font-size:16px;">
																					<span style="font-family:libre baskerville,serif; font-style:italic;">MD, DGO</span>
																				</span>
																			</p>

																			<p class="font_8" style="font-size:16px; line-height:2.5em; text-align:center;">
																				<span style="font-size:16px;">
																					<span style="font-family:libre baskerville,serif; font-style:italic;">Fetal Medicine Specialist</span>
																				</span>
																			</p>
																	</div>
                                                                
																	<div id="comp-kqc8d22w" class="_1F6na">
																		<div data-testid="linkElement" class="_2tcsV">
																			<wix-image id="img_comp-kqc8d22w" class="_1-6YJ _3_NbI" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="">
																				<%= image_tag "gynic.jpg", style: "width:335px;height:334px;object-fit:cover;object-position:50% 50%" %>                          
																			</wix-image>
																		</div>
																	</div>
																	
																	<div id="comp-kqc8d22z2" class="_1Q9if" data-testid="richTextElement">
																		<p class="font_8" style="font-size:16px; text-align:center;">
																			<span style="font-size:16px;">
																				<span style="font-family:libre baskerville,serif;">
																					<span class="wixGuard">&ZeroWidthSpace;</span>
																				</span>
																			</span>
																		</p>

																		<p class="font_8" style="font-size:16px; text-align:center;">
																			<span style="font-size:16px;">
																				<span style="font-family:libre baskerville,serif;">
																					Clinical Director at Aarohan Fetal Medicine Centre, Indore 
																				</span>
																			</span>&nbsp;
																		</p>
																		<p class="font_8" style="font-size:14px;">&nbsp;</p>
																		<p class="font_8" style="font-size:16px; text-align:center;">
																			<span style="font-size:16px;">
																				<span style="font-family:libre baskerville,serif;">Former: Consultant Fetal Medicine Centre @ CHL Hospitals, Indore.</span>
																			</span>
																		</p>

																		<p class="font_8" style="font-size:16px; text-align:center;">
																			<span style="font-size:16px;">
																				<span style="font-family:libre baskerville,serif;">
																					<span class="wixGuard">&ZeroWidthSpace;</span>
																				</span>
																			</span>
																		</p>
            
																		<p class="font_8" style="font-size:16px; text-align:center;">
																			<span style="font-size:16px;">
																				<span style="font-family:libre baskerville,serif;">
																					●	MBBS from MGM College Indore with 7 Gold Medals 
																					●	MD in Obstetrics and Gynaecology from KEM Mumbai 
																					●	Topped CPS DGO Examination 
																					●	Trained in Fetal Medicine from premier institute Mediscan System 
																					●	Very passionate about Fetal Medicine
																				</span>
																			</span>
																		</p>
																	</div>
																</div>

																<div data-mesh-id="comp-kqc8d22ninlineContent" data-testid="inline-content" class="">
																	<div data-mesh-id="comp-kqc8d22ninlineContent-gridContainer" data-testid="mesh-container-content">
																		<div id="comp-kqc8d22s" class="_1Q9if" data-testid="richTextElement">
																			<p class="font_8" style="font-size:14px; line-height:2.5em; text-align:center;">
																				<span style="color:#94703a;">
																					<span style="font-family:libre baskerville,serif;">
																						<span style="font-weight:400;">
																							<span style="font-size:22px;">DR. SEEMA MEENA</span>
																						</span>
																					</span>
																				</span>
																			</p>

																			<p class="font_8" style="font-size:16px; line-height:2.5em; text-align:center;">
																				<span style="font-size:16px;">
																					<span style="font-family:libre baskerville,serif; font-style:italic;">MBBS, MD(OBGY), DNB</span>
																				</span>
																			</p>

																			<p class="font_8" style="font-size:16px; line-height:2.5em; text-align:center;">
																				<span style="font-size:16px;">
																					<span style="font-family:libre baskerville,serif; font-style:italic;">CONSULTANT FETOMATERNAL MEDICINE</span>
																				</span>
																			</p>
																	</div>
                                                                
																	<div id="comp-kqc8d22w" class="_1F6na">
																		<div data-testid="linkElement" class="_2tcsV">
																			<wix-image id="img_comp-kqc8d22w" class="_1-6YJ _3_NbI" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="">
																				<%= image_tag "dr_seema.jpg", style: "width:335px;height:334px;object-fit:cover;object-position:50% 50%" %>                          
																			</wix-image>
																		</div>
																	</div>
																	
																	<div id="comp-kqc8d22z2" class="_1Q9if" data-testid="richTextElement">
																		<p class="font_8" style="font-size:16px; text-align:center;">
																			<span style="font-size:16px;">
																				<span style="font-family:libre baskerville,serif;">
																					<span class="wixGuard">&ZeroWidthSpace;</span>
																				</span>
																			</span>
																		</p>

																		<p class="font_8" style="font-size:16px; text-align:center;">
																			<span style="font-size:16px;">
																				<span style="font-family:libre baskerville,serif;">
																					MD in Obstetrics & Gynecology from All India Institute of Medical sciences (AIIMS), New Delhi 
																				</span>
																			</span>&nbsp;
																		</p>
																		<p class="font_8" style="font-size:14px;">&nbsp;</p>
																		<p class="font_8" style="font-size:16px; text-align:center;">
																			<span style="font-size:16px;">
																				<span style="font-family:libre baskerville,serif;">FMF UK certified for NT scan, Preeclampsia screening, cervical screening and theory courses of Fetal Echo and anomaly scan.</span>
																			</span>
																		</p>

																		<p class="font_8" style="font-size:16px; text-align:center;">
																			<span style="font-size:16px;">
																				<span style="font-family:libre baskerville,serif;">
																					<span class="wixGuard">&ZeroWidthSpace;</span>
																				</span>
																			</span>
																		</p>
            
																		<p class="font_8" style="font-size:16px; text-align:center;">
																			<span style="font-size:16px;">
																				<span style="font-family:libre baskerville,serif;">
																				● MBBS from GMC, Bhavnagar, Gujrat
																				● DNB from National Board of Examinations (NBE), New Delhi
																				● Fellowship in Feto-Maternal Medicine from India’s Premier institute
																				CIMAR, Kochi
																				● 
																				● Ex Senior Resident All India Institute of Medical sciences (AIIMS), New
																				Delhi
																				● Life member of Society of Fetal Medicine (SFM) and FOGSI
																				● Very passionate about Fetal medicine and Genetics
																				● Special interest in Fetal Cardiac scanning, Fetal invasive testing and
																				interventions.
																				</span>
																			</span>
																		</p>
																	</div>
																</div>

															</div>
														</div>
													</div>
												</section>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
        </main>
      <%= render "footer"%>
    </div>
  </div>
</div>
