<div id="SITE_CONTAINER">
  <div id="main_MF">
    <div id="SCROLL_TO_TOP" class="qhwIj ignore-focus" tabindex="-1" role="region" aria-label="top of page"> </div>

    <div id="BACKGROUND_GROUP">
			<div id="BACKGROUND_GROUP_TRANSITION_GROUP">
				<div id="pageBackground_c1dmp" data-media-height-override-type="" data-media-position-override="false" class="_2v3yk">
					<div id="bgLayers_pageBackground_c1dmp" data-hook="bgLayers" class="_3wnIc">
						<div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
						<div id="bgMedia_pageBackground_c1dmp" class="_2GUhU"></div>
						<div data-testid="bgOverlay" class="_1eCSh"></div>
					</div>
				</div>
			</div>
    </div>

    <div id="site-root">
      <div id="masterPage" class="mesh-layout">
        <%= render "header" %>
        <main id="PAGES_CONTAINER" tabindex="-1">
          <div id="SITE_PAGES">
						<div id="SITE_PAGES_TRANSITION_GROUP" class="_2YGAo">
							<div id="n0i7b" class="_1FOTJ _3LL-w">
								<div class="_3jgRX" data-testid="page-bg"></div>
								<div class="_2ufc7">
									<div id="Containern0i7b" class="_1KV2M">
										<div data-mesh-id="Containern0i7binlineContent" data-testid="inline-content" class="">
											<div data-mesh-id="Containern0i7binlineContent-gridContainer" data-testid="mesh-container-content">
												<div id="comp-kmw2k8oz" class="XUUsC">
													<div data-testid="linkElement" class="xQ_iF">
														<wix-image id="img_comp-kmw2k8oz" class="_1-6YJ _1Fe8-" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="" >
															<img src="https://static.wixstatic.com/media/682392_7fc6782574e94075a235cdb19ff64a42~mv2.jpg/v1/crop/x_0,y_1165,w_6720,h_3315/fill/w_1966,h_952,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/shutterstock_1192739014.jpg" alt="shutterstock_1192739014.jpg" style="width: 983px; height: 476px; object-fit: cover; object-position: 50% 50%;">
														</wix-image>
													</div>
												</div>
												
												<div id="comp-ij44ja9y" class="_1Q9if" data-testid="richTextElement">
													<h3 class="font_3" style="font-size:24px;">
														<span style="font-size:24px;">
															<span style="font-style:normal;">Contact Us&nbsp;</span>
														</span>
													</h3>
												</div>
												
												<div id="comp-k6dwk07l" class="_1Q9if" data-testid="richTextElement">
													<p class="font_7" style="font-size:15px;">
														<span style="font-weight:bold;">
															<span class="color_18">
																<span style="font-family:libre baskerville,serif;">Sevenoaks Clinic:</span>
															</span>
														</span>
													</p>

												<p class="font_7" style="font-size:15px;">&nbsp;</p>

												<p class="font_7" style="font-size:15px;"><span style="font-family:libre baskerville,serif;">
													The Dartmoor Suite,<br>
													Great Hollanden Business Centre,<br>
													Mill Lane, Underriver,<br>
													Sevenoaks, TN15 0SQ</span>
												</p>
												<p class="font_7" style="font-size:15px;">
													<span style="font-family:libre baskerville,serif;">
														<span class="wixGuard">&ZeroWidthSpace;</span>
													</span>
												</p>

												<p class="font_7" style="font-size:15px;">
													<span style="font-family:libre baskerville,serif;">Telephone: &nbsp;
														<span style="text-decoration:underline;">
															<a href="tel:01732 647072">01732 647072</a>
														</span>
													</span>
												</p>

												<p class="font_7" style="font-size:15px;">
													<span style="font-family:libre baskerville,serif;">Email: 
														<span style="text-decoration:underline;">
															<a href="mailto:appointments@thepregnancyclinic.com" target="_self">appointments@thepregnancyclinic.com</a>
														</span>
													</span>
												</p>

												<p class="font_7" style="font-size:15px;">
													<span style="font-family:libre baskerville,serif;">
														<span class="wixGuard">&ZeroWidthSpace;</span>
													</span>
												</p>

												<p class="font_7" style="font-size:15px;">
													<span class="wixGuard">&ZeroWidthSpace;</span>
												</p>
											</div>
											
											<div id="comp-ij44ja9w1" tabindex="0" class="_1Cu5u">
												<wix-iframe title="Google Maps" aria-label="Google Maps" data-src="">
													<div id="mapContainer_comp-ij44ja9w1" class="_36gi0">
														<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Aarohan%20Ultrasound%20%26%20%20Fetal%20Medicine%20Centre&amp;t=m&amp;z=15&amp;output=embed&amp;iwloc=near" aria-label="Aarohan Ultrasound &amp;  Fetal Medicine Centre" style="width:100%"></iframe>
													</div>
												</wix-iframe>
											</div>
											

											<div id="comp-kmw4iw0l" class="_1Q9if" data-testid="richTextElement">
												<h3 class="font_3" style="font-size:24px;">
													<span style="font-size:24px;">
														<span style="font-style:normal;">Request An Appointment</span>
													</span>
												</h3>
											</div>
											
											<form id="comp-jn4dk05u" class="yBJuM">
												<div data-mesh-id="comp-jn4dk05uinlineContent" data-testid="inline-content" class="">
													<div data-mesh-id="comp-jn4dk05uinlineContent-gridContainer" data-testid="mesh-container-content">
														<div id="comp-jn4dk0gy" class="_2dBhC _2nVk2 _65cjg">
															<label for="input_comp-jn4dk0gy" class="aHD7c">Enter Your Name</label>	
															<div class="XRJUI">
																<input name="enter-your name" id="input_comp-jn4dk0gy" class="_1SOvY has-custom-focus" type="text" placeholder="Name" required="" maxlength="100" value="">
															</div>
														</div>
														
														<div id="comp-kmw2ehkz" class="_2dBhC _2nVk2">
															<label for="input_comp-kmw2ehkz" class="aHD7c">Gestation (weeks)</label>
															<div class="XRJUI">
																<input name="gestation-(weeks)" id="input_comp-kmw2ehkz" class="_1SOvY has-custom-focus" type="text" placeholder="Gestation" maxlength="250" value="">
															</div>
														</div>
														
														<div id="comp-jn4dncxy" class="_2dBhC _2nVk2 _65cjg">
															<label for="input_comp-jn4dncxy" class="aHD7c">Enter Your Email</label>
															<div class="XRJUI">
																<input name="email" id="input_comp-jn4dncxy" class="_1SOvY has-custom-focus" type="email" placeholder="Email" required="" maxlength="250" value="">
															</div>
														</div>
														
														<div id="comp-kmw2fcqn" class="_2dBhC _2nVk2">
															<label for="input_comp-kmw2fcqn" class="aHD7c">Location</label>
															<div class="XRJUI">
																<input name="location" id="input_comp-kmw2fcqn" class="_1SOvY has-custom-focus" type="text" placeholder="Location" maxlength="250" value="">
															</div>
														</div>
														
														<div id="comp-kmw1woaq" class="_2dBhC _2nVk2">
															<label for="input_comp-kmw1woaq" class="aHD7c">Phone</label>
															<div class="XRJUI">
																<input name="phone" id="input_comp-kmw1woaq" class="_1SOvY has-custom-focus" type="tel" placeholder="Phone" maxlength="50" value="">
															</div>
														</div>
														
														<div id="comp-jn4dnk74" class="bItEI _1mQNr _22Vl0">
															<label for="textarea_comp-jn4dnk74" class="_20uhs">Further Information</label>
															<textarea id="textarea_comp-jn4dnk74" class="_1VWbH has-custom-focus" placeholder="Further information" required=""></textarea>
														</div>
														
														<div id="comp-jn4dk0ge" aria-disabled="false" class="_2UgQw">
															<button aria-disabled="false" data-testid="buttonElement" class="_1fbEI">
																<span class="_1Qjd7">Submit</span>
															</button>
														</div>
													</div>
												</div>
											</form>
											
											<div data-mesh-id="Containern0i7binlineContent-wedge-4"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
        </main>
      <%= render "footer"%>
    </div>
  </div>
</div>
