<footer tabindex="-1" id="SITE_FOOTER_WRAPPER">
    <div id="pinnedBottomRight">
        <div id="comp-jgg7parg-pinned-layer" class="riLfl">
            <div id="comp-jgg7parg" class="_2JOHk _1DEc4">
                <iframe class="_49_rs" title="Wix Chat" aria-label="Wix Chat" scrolling="no" allowfullscreen="" allowtransparency="true" allowvr="true" frameBorder="0" allow="autoplay;camera;microphone;geolocation;vr"></iframe>
            </div>
        </div>
    </div>
    
    <div id="SITE_FOOTER" class="ZW5SX">
        <div class="_2o25M"><div class="_1nRb9"></div></div>
        <div class="_38XI2">
            <div class="_2P6JN"><div class="_1dlfY"></div></div>
            <div class="_1_UPn">
                <div data-mesh-id="SITE_FOOTERinlineContent" data-testid="inline-content" class="">
                    <div data-mesh-id="SITE_FOOTERinlineContent-gridContainer" data-testid="mesh-container-content">
                        <div id="comp-kug4yzz9" class="_1KV2M">
                            <div data-mesh-id="comp-kug4yzz9inlineContent" data-testid="inline-content" class="">
                                <div data-mesh-id="comp-kug4yzz9inlineContent-gridContainer" data-testid="mesh-container-content">
                                    <div id="comp-iiypz9bh" class="_2Hij5" data-testid="richTextElement">
                                        <p class="font_7" style="font-size:14px; line-height:normal;">
                                            <span style="font-size:14px;">
                                                <span style="font-weight:bold;">
                                                    <span style="letter-spacing:0.04em;">
                                                        <span class="color_11">Aarohan Fetal Medicine Center&nbsp;</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </p>

                                        <p class="font_7" style="font-size:14px; line-height:normal;">
                                            <span style="font-size:14px;">
                                                <span style="letter-spacing:0.04em;">
                                                    <span class="color_11">
                                                        <span style="text-decoration:underline;">
                                                            <span class="wixGuard">​</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </p>

                                        <p class="font_7" style="font-size:14px; line-height:normal;">
                                            <span style="font-size:14px;">
                                                <a href="#" target="_self">
                                                    <span style="color:#FCFCFC;">About Us</span>
                                                </a>
                                            </span>
                                        </p>

                                        <p class="font_7" style="font-size:14px; line-height:normal;">
                                            <span style="font-size:14px;">
                                                <a href=<%= contact_us_path%> target="_self">
                                                    <span style="color:#FCFCFC;">Contact Us</span>
                                                </a>
                                            </span>
                                        </p>

                                        <p class="font_7" style="font-size:14px; line-height:normal;">
                                            <span style="font-size:14px;">
                                                <span style="color:#FCFCFC;">
                                                    <a href="#" target="_self">Privacy Policy</a>
                                                </span>
                                            </span>
                                        </p>


                                        <p class="font_7" style="font-size:14px; line-height:normal;">
                                            <span style="font-size:14px;">
                                                <span class="wixGuard">​</span>
                                            </span>
                                        </p>
                                    </div>
                                    
                                    <div id="comp-kmywj3zn" class="_1Q9if" data-testid="richTextElement">
                                        <p class="font_7" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <span style="font-weight:bold;">
                                                    <span style="letter-spacing:0.04em;">
                                                        <span class="color_11">Pregnancy Care</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </p>

                                        <p class="font_7" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <span style="letter-spacing:0.04em;">
                                                    <span class="color_11">
                                                        <span style="text-decoration:underline;">
                                                            <span class="wixGuard">​</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </p>

                                        <p class="font_7" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <a href="#" target="_self">
                                                    <span style="color:#FCFCFC;">Nuchal Scan</span>
                                                </a>
                                            </span>
                                        </p>

                                        <p class="font_7" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <a href="#" target="_self">
                                                    <span style="color:#FCFCFC;">Early Pregnancy Scan</span>
                                                </a>
                                            </span>
                                        </p>

                                        <p class="font_7" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <a href="#" target="_self">
                                                    <span style="color:#FCFCFC;">Early Anatomy Scan</span>
                                                </a>
                                            </span>
                                        </p>

                                        <p class="font_7" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <a href="#" target="_self">
                                                    <span style="color:#FCFCFC;">Anomaly Scan</span>
                                                </a>
                                            </span>
                                        </p>

                                        <p class="font_7" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <a href="#" target="_self">
                                                    <span style="color:#FCFCFC;">Fetal Heart Scan</span>
                                                </a>
                                            </span>
                                        </p>

                                        <p class="font_7" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <a href="#" target="_self">
                                                    <span style="color:#FCFCFC;">Cervical Length Scan</span>
                                                </a>
                                            </span>
                                        </p>

                                        <p class="font_7" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <a href="#" target="_self">
                                                    <span style="color:#FCFCFC;">Growth Scan</span>
                                                </a>
                                            </span>
                                        </p>

                                        <p class="font_7" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <a href="#" target="_self">
                                                    <span style="color:#FCFCFC;">3D &amp; 4D Scan</span>
                                                </a>
                                            </span>
                                        </p>

                                        <p class="font_7" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <span style="color:#FCFCFC;">
                                                    <span class="wixGuard">​</span>
                                                </span>
                                            </span>
                                        </p>

                                        <p class="font_7" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <span class="wixGuard">​</span>
                                            </span>
                                        </p>
                                    </div>
                                    
                                    <div id="comp-kmz0d45j" class="_2Hij5" data-testid="richTextElement">
                                        <p class="font_7" style="font-size:14px; line-height:normal;">
                                            <span style="font-size:14px;">
                                                <span style="letter-spacing:0.04em;">
                                                    <span class="color_11">&copy;2022 by Aarohan Fetal Medicine Center.</span>
                                                </span>
                                            </span>
                                        </p>
                                    </div>
                                    
                                    <div id="comp-kmywrjtc" class="_1Q9if" data-testid="richTextElement">
                                        <p class="font_7" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <span style="font-weight:bold;">
                                                    <span style="letter-spacing:0.04em;">
                                                        <span class="color_11">Contact Us</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </p>

                                        <p class="font_7" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <span class="wixGuard">​</span>
                                            </span>
                                        </p>

                                        <p class="font_8" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <span style="color:#FCFCFC;">Request an appointment:&nbsp;</span>
                                            </span>
                                        </p>  

                                        <p class="font_8" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <span style="color:#FCFCFC;">Monday to Friday: 10 AM to 6 PM</span>
                                            </span>
                                        </p>

                                        <p class="font_8" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <span style="color:#FCFCFC;">
                                                    <a href="tel:07314989999" target="_self">9285559556</a>
                                                </span>
                                            </span>
                                        </p>                                     

                                        <p class="font_8" style="font-size:14px;">
                                            <span style="font-size:14px;">
                                                <span style="color:#FCFCFC;">
                                                    <span style="text-decoration:underline;">
                                                        <span class="wixGuard">​</span>
                                                    </span>
                                                </span>
                                            </span>
                                        </p>

                                        <p class="font_8" style="font-size:14px;">
                                            <a href="tel:07314989999" target="_blank" rel="noreferrer noopener">
                                                <span style="font-size:14px;">
                                                    <span style="color:#FCFCFC;">Clinic: &nbsp;0731 - 4989999</span>
                                                </span>
                                            </a>
                                        </p>

                                        <p class="font_8" style="font-size:14px;">
                                            <a href="#" target="_blank" rel="noreferrer noopener">
                                                <span style="font-size:14px;">
                                                    <span style="color:#FCFCFC;">239 A, Anoop Nagar Main Road, Indore</span>
                                                </span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>