<header tabindex="-1" id="SITE_HEADER_WRAPPER">
  <div id="SITE_HEADER" class="ZW5SX">
    <div class="_2o25M"><div class="_1nRb9"></div></div>
    <div class="_38XI2">
      <div class="_2P6JN"><div class="_1dlfY"></div></div>
      <div class="_1_UPn">
        <div data-mesh-id="SITE_HEADERinlineContent" data-testid="inline-content" class="">
          <div data-mesh-id="SITE_HEADERinlineContent-gridContainer" data-testid="mesh-container-content">
            <div id="comp-kn3olfjy" class="XUUsC _2S73V">
              <a data-testid="linkElement" href="#" target="_self" class="xQ_iF">
                <wix-image id="img_comp-kn3olfjy" class="_1-6YJ _1Fe8-" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="true">
                  <%= image_tag "logo.png", style: "width:206px;height:78px" %>  
                </wix-image>
              </a>
            </div>
        
            <div id="comp-ko20icat" class="_2O-Ry">
              <ul class="xb9fU" aria-label="Social Bar">
                <li id="dataItem-ko20icdd1-comp-ko20icat" class="_3lu8e">
                  <a data-testid="linkElement" href="https://www.facebook.com/" target="_blank" class="_26AQd">
                    <wix-image id="img_0_comp-ko20icat" class="_1-6YJ uWpzU" data-image-info="{&quot;containerId&quot;:&quot;dataItem-ko20icdd1-comp-ko20icat&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;aebe5b6fd55f471a936c72ff2c8289d7.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="true">
                      <img src="https://static.wixstatic.com/media/aebe5b6fd55f471a936c72ff2c8289d7.png/v1/fill/w_42,h_42,al_c,q_85,usm_0.66_1.00_0.01,blur_3,enc_auto/aebe5b6fd55f471a936c72ff2c8289d7.png" alt="Facebook" style="width:42px;height:42px;object-fit:cover;object-position:50% 50%"/>
                    </wix-image>
                  </a>
                </li>
                
                <li id="dataItem-ko20icdo3-comp-ko20icat" class="_3lu8e">
                  <a data-testid="linkElement" href="https://www.instagram.com/?hl=en" target="_blank" class="_26AQd">
                    <wix-image id="img_1_comp-ko20icat" class="_1-6YJ uWpzU" data-image-info="{&quot;containerId&quot;:&quot;dataItem-ko20icdo3-comp-ko20icat&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;40898a93cfff4578b1779073137eb1b4.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="true">
                      <img src="https://static.wixstatic.com/media/40898a93cfff4578b1779073137eb1b4.png/v1/fill/w_42,h_42,al_c,q_85,usm_0.66_1.00_0.01,blur_3,enc_auto/40898a93cfff4578b1779073137eb1b4.png" alt="Instagram" style="width:42px;height:42px;object-fit:cover;object-position:50% 50%"/>
                    </wix-image>
                  </a>
                </li>
              </ul>
            </div>
        
            <div id="comp-iiyoh68p" class="_1Q9if" data-testid="richTextElement">
              <p class="font_7" style="text-align:right; font-size:15px;">
                <span style="font-family:libre baskerville,serif;">&nbsp;Landline: <a href="tel:07314989999">0731 4989999</a></span>
                <span style="font-family:libre baskerville,serif;"><br />Mobile: <a href="tel:9285559556">9285559556</a></span>
              </p>

              <p class="font_7" style="text-align:right; font-size:15px;">
                <span style="font-family:libre baskerville,serif;">
                  <span class="wixGuard">​</span>
                </span>
              </p>
            </div>
        
            <div id="comp-kn089ss9" class="_3rK5m">
              <div data-testid="link" class="VNb9p" title="" role="img">
                <div class="_20oHq">
                  <wix-image id="img_comp-kn089ss9_0" class="_1-6YJ _2Ms4G" data-image-info="{&quot;containerId&quot;:&quot;comp-kn089ss9&quot;,&quot;displayMode&quot;:&quot;fit&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;035244_19984e4b06dc4b148048731e3dcf1011~mv2.png&quot;,&quot;displayMode&quot;:&quot;fit&quot;}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="true">
                    <img src="https://static.wixstatic.com/media/035244_19984e4b06dc4b148048731e3dcf1011~mv2.png/v1/fill/w_15,h_15,al_c,q_85,usm_0.66_1.00_0.01,blur_3,enc_auto/035244_19984e4b06dc4b148048731e3dcf1011~mv2.png" alt="" role="none" style="width:20px;height:15px;object-fit:contain;object-position:unset"/>
                  </wix-image>
                </div>
                <div class="_20oHq">
                  <wix-image id="img_comp-kn089ss9_1" class="_1-6YJ _1m4s8" data-image-info="{&quot;containerId&quot;:&quot;comp-kn089ss9&quot;,&quot;displayMode&quot;:&quot;fit&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;035244_ddce7e7d314a49299f147857fadbc40a~mv2.png&quot;,&quot;displayMode&quot;:&quot;fit&quot;}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="true">
                    <img src="https://static.wixstatic.com/media/035244_ddce7e7d314a49299f147857fadbc40a~mv2.png/v1/fill/w_15,h_15,al_c,q_85,usm_0.66_1.00_0.01,blur_3,enc_auto/035244_ddce7e7d314a49299f147857fadbc40a~mv2.png" alt="" role="none" style="width:20px;height:15px;object-fit:contain;object-position:unset"/>
                  </wix-image>
                </div>
                <div class="_20oHq">
                  <wix-image id="img_comp-kn089ss9_2" class="_1-6YJ _3AalE" data-image-info="{&quot;containerId&quot;:&quot;comp-kn089ss9&quot;,&quot;displayMode&quot;:&quot;fit&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;035244_19984e4b06dc4b148048731e3dcf1011~mv2.png&quot;,&quot;displayMode&quot;:&quot;fit&quot;}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="true">
                    <img src="https://static.wixstatic.com/media/035244_19984e4b06dc4b148048731e3dcf1011~mv2.png/v1/fill/w_15,h_15,al_c,q_85,usm_0.66_1.00_0.01,blur_3,enc_auto/035244_19984e4b06dc4b148048731e3dcf1011~mv2.png" alt="" role="none" style="width:20px;height:15px;object-fit:contain;object-position:unset"/>
                  </wix-image>
                </div>
              </div>
            </div>
        
            <div id="comp-kn08cgoz" class="_3rK5m">
              <div data-testid="link" class="VNb9p" title="" role="img">
                <div class="_20oHq">
                  <wix-image id="img_comp-kn08cgoz_0" class="_1-6YJ _2Ms4G" data-image-info="{&quot;containerId&quot;:&quot;comp-kn08cgoz&quot;,&quot;displayMode&quot;:&quot;fit&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;035244_19984e4b06dc4b148048731e3dcf1011~mv2.png&quot;,&quot;displayMode&quot;:&quot;fit&quot;}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="true">
                    <img src="https://static.wixstatic.com/media/035244_19984e4b06dc4b148048731e3dcf1011~mv2.png/v1/fill/w_15,h_15,al_c,q_85,usm_0.66_1.00_0.01,blur_3,enc_auto/035244_19984e4b06dc4b148048731e3dcf1011~mv2.png" alt="" role="none" style="width:20px;height:15px;object-fit:contain;object-position:unset"/>
                  </wix-image>
                </div>
                
                <div class="_20oHq">
                  <wix-image id="img_comp-kn08cgoz_1" class="_1-6YJ _1m4s8" data-image-info="{&quot;containerId&quot;:&quot;comp-kn08cgoz&quot;,&quot;displayMode&quot;:&quot;fit&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;035244_ddce7e7d314a49299f147857fadbc40a~mv2.png&quot;,&quot;displayMode&quot;:&quot;fit&quot;}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="true">
                    <img src="https://static.wixstatic.com/media/035244_ddce7e7d314a49299f147857fadbc40a~mv2.png/v1/fill/w_15,h_15,al_c,q_85,usm_0.66_1.00_0.01,blur_3,enc_auto/035244_ddce7e7d314a49299f147857fadbc40a~mv2.png" alt="" role="none" style="width:20px;height:15px;object-fit:contain;object-position:unset"/>
                  </wix-image>
                </div>
                
                <div class="_20oHq">
                  <wix-image id="img_comp-kn08cgoz_2" class="_1-6YJ _3AalE" data-image-info="{&quot;containerId&quot;:&quot;comp-kn08cgoz&quot;,&quot;displayMode&quot;:&quot;fit&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;035244_19984e4b06dc4b148048731e3dcf1011~mv2.png&quot;,&quot;displayMode&quot;:&quot;fit&quot;}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="true">
                    <img src="https://static.wixstatic.com/media/035244_19984e4b06dc4b148048731e3dcf1011~mv2.png/v1/fill/w_15,h_15,al_c,q_85,usm_0.66_1.00_0.01,blur_3,enc_auto/035244_19984e4b06dc4b148048731e3dcf1011~mv2.png" alt="" role="none" style="width:20px;height:15px;object-fit:contain;object-position:unset"/>
                  </wix-image>
                </div>
              </div>
            </div>
            <%= render "nav"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>