<div id="comp-kmwiqtqc" class="_1Q9if" data-testid="richTextElement">
	<h3 class="font_3" style="font-size:23px; text-align:center;">
		<span style="font-size:23px;">
			<span style="font-style:normal;">Begin Your Journey With Us</span>
		</span>	
	</h3>
</div>
	
<div id="comp-kmxxqp80" class="_1Q9if" data-testid="richTextElement">
	<h3 class="font_3" style="font-size:18px; text-align:center;">
		<span style="text-decoration:underline;">
			<a href="#" target="_self">
				<span style="font-size:18px;">
					<span style="font-style:normal;">Fetal Scanning & Procedures</span>
				</span>
			</a>
		</span>
	</h3>
</div>
	
<div id="comp-kmwlyrn6" class="fOSzc _2S73V">
	<a data-testid="linkElement" href="#" target="_self" class="_1PW5Q">
		<wix-image id="img_comp-kmwlyrn6" class="_1-6YJ _3p9ul" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="true">
      <%= image_tag "fetal_scan.jpg", style: "width:260px;height:310px;object-fit:cover;object-position:50% 50%" %>                          
		</wix-image>
	</a>
</div>

<div id="comp-kn6mchr3" class="_1Q9if" data-testid="richTextElement">
  <p class="font_8" style="font-size:16px; text-align:center;">
    <span style="font-size:16px;">
      <span style="font-family:libre baskerville,serif;">
        ● Viability Scan <br/>
        ● 11-13 Week Scan <br/>
        ● Anomaly Scan <br/>
        ● Cardiac Scan <br/>
        ● Growth & Wellbeing Scan
      </span>
	  </span>
  </p>
</div>
	
<div id="comp-kmxxpoza" class="_1Q9if" data-testid="richTextElement">
	<h3 class="font_3" style="font-size:18px; text-align:center;">
		<span style="text-decoration:underline;">
			<a href="This Centre specializes in performing ultrasound scans during various stages of pregnancy and the guidelines laid out by the Fetal Medicine Foundation, UK, world pioneers in Fetal Medicine are strictly adhered to. All scans are performed by an FMF accredited operator and are accompanied with informative and sensitive counselling" target="_self">
				<span style="font-size:18px;">
					<span style="font-style:normal;">Invasive Testing</span>
				</span>
			</a>
		</span>
	</h3>
</div>
	
<div id="comp-kmwiw3ck" class="fOSzc _2S73V">
	<a data-testid="linkElement" href="#" target="_self" class="_1PW5Q">
		<wix-image id="img_comp-kmwiw3ck" class="_1-6YJ _3p9ul"  data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="true">
    <%= image_tag "invsive_testing.jpg", style: "width:260px;height:310px;object-fit:cover;object-position:50% 50%" %>                          
		</wix-image>
	</a>
</div>
	
<div id="comp-kmxxunqd" class="_1Q9if" data-testid="richTextElement">
<p class="font_8" style="font-size:16px; text-align:center;">
<span style="font-size:16px;">
  <span style="font-family:libre baskerville,serif;">
				
  ● CVS – Chorion Villus Sampling <br/>
  ● Amniocentesis <br/>
  ● Fetal Reduction </span>
		</span>
    </p>
</div>
		
<div id="comp-kmxxu5ua" class="_1Q9if" data-testid="richTextElement">
  <h3 class="font_3" style="font-size:18px; text-align:center;">
    <span style="text-decoration:underline;">
      <a href="#" target="_self">
        <span style="font-size:18px;">
          <span style="font-style:normal;">Genetic Services</span>
        </span>
      </a>
    </span>
  </h3>
</div>

<div id="comp-kmwlz3t7" class="fOSzc _2S73V">
  <a data-testid="linkElement" href="#" target="_self" class="_1PW5Q">
    <wix-image id="img_comp-kmwlz3t7" class="_1-6YJ _3p9ul" data-bg-effect-name="" data-image-zoomed="" data-has-ssr-src="true">
    <%= image_tag "genetic_services.jpg", style: "width:260px;height:310px;object-fit:cover;object-position:50% 50%" %>                          
    </wix-image>
  </a>
</div>

<div id="comp-kn6mfyrl" class="_1Q9if" data-testid="richTextElement">
<p class="font_8" style="font-size:16px; text-align:center;">
<span style="font-size:16px;">
  <span style="font-family:libre baskerville,serif;">
				
  ● Comprehensive genetic counselling <br/>
  ● Diagnosis of chromosomal, DNA & Metabolic Disorders <br/>
  ● Specialized tests including FISH for Aneuploidy, Micro-deletion Syndromes <br/>
  ● DNA tests for Single Gene Disorders <br/>
  ● Tests for inherited metabolic disorders</span>
		</span>
    </p>
</div>


<div id="comp-koeqmi7x" class="_3VCpz"></div>
