<wix-dropdown-menu id="comp-iiyocj9v" class="_1oZ90 _3SSUZ hidden-during-prewarmup" dir="ltr" data-stretch-buttons-to-menu-width="true" data-same-width-buttons="false" data-num-items="5" data-menuborder-y="0" data-menubtn-border="0" data-ribbon-els="0" data-label-pad="0" data-ribbon-extra="0" data-dropalign="center">
  <nav class="l76As" id="comp-iiyocj9vnavContainer" aria-label="Site">
    <ul class="_2MHbW" id="comp-iiyocj9vitemsContainer" style="text-align:center" data-marginallchildren="true"><li id="comp-iiyocj9v0" data-direction="ltr" data-listposition="left" data-data-id="bmi23nr" data-state="menu selected  link" data-index="0" class="Y5j6d _3KF65">
        <a data-testid="linkElement" href=<%= root_url%> target="_self" class="_2DUrw" aria-haspopup="false" aria-describedby="comp-iiyocj9vnavContainer-hiddenA11ySubMenuIndication">
          <div class="_1u8sp">
            <div class="" style="text-align:center">
              <p class="_1zyfI" style="text-align:center" id="comp-iiyocj9v0label">Home</p>
            </div>
          </div>
        </a>
        
        <!--ul aria-hidden="true" style="display:none">
          <li>
            <a data-testid="linkElement" href="#" target="_self" class="" aria-haspopup="false" tabindex="-1">Testimonials</a>
          </li>
          <li>
            <a data-testid="linkElement" href="#" target="_self" class="" aria-haspopup="false" tabindex="-1">Fees</a>
          </li>
        </ul-->
      </li><li id="comp-iiyocj9v1" data-direction="ltr" data-listposition="center" data-data-id="dataItem-kmuy9yev" data-state="menu false  link" data-index="1" class="Y5j6d _3KF65">
        <a data-testid="linkElement" href="#" target="_self" class="_2DUrw" aria-haspopup="false" aria-describedby="comp-iiyocj9vnavContainer-hiddenA11ySubMenuIndication">
          <div class="_1u8sp">
            <div class="" style="text-align:center">
              <p class="_1zyfI" style="text-align:center" id="comp-iiyocj9v1label">Ultrasound Scans</p>
            </div>
          </div>
        </a>
        
        <!--ul aria-hidden="true" style="display:none">
          <li>
            <a data-testid="linkElement" href="#" target="_self" class="" aria-haspopup="false" tabindex="-1">Early Pregnancy Scan</a>
          </li>
          <li>
            <a data-testid="linkElement" href="#" target="_self" class="" aria-haspopup="false" tabindex="-1">Nuchal Scan</a>
          </li>
          <li>
            <a data-testid="linkElement" href="#" target="_self" class="" aria-haspopup="false" tabindex="-1">Early Anatomy Scan</a>
          </li>
          <li>
            <a data-testid="linkElement" href="#" target="_self" class="" aria-haspopup="false" tabindex="-1">Anomaly Scan</a>
          </li>
          <li>
            <a data-testid="linkElement" href="#" target="_self" class="" aria-haspopup="false" tabindex="-1">Cervical Length Scan</a>
          </li>
          <li>
            <a data-testid="linkElement" href="#" target="_self" class="" aria-haspopup="false" tabindex="-1">Fetal Heart Scan</a>
          </li>
          <li>
            <a data-testid="linkElement" href="#" target="_self" class="" aria-haspopup="false" tabindex="-1">Growth Scan</a>
          </li>
          <li>
            <a data-testid="linkElement" href="#" target="_self" class="" aria-haspopup="false" tabindex="-1">3D and 4D Scan</a>
          </li>
        </ul-->
      </li><li id="comp-iiyocj9v2" data-direction="ltr" data-listposition="center" data-data-id="dataItem-kmuzhvxc" data-state="menu false  link" data-index="2" class="Y5j6d _3KF65">
        <a data-testid="linkElement" href="#" target="_self" class="_2DUrw" aria-haspopup="false">
          <div class="_1u8sp">
            <div class="" style="text-align:center">
              <p class="_1zyfI" style="text-align:center" id="comp-iiyocj9v2label">Harmony Test</p>
            </div>
          </div>
        </a>
      </li><li id="comp-iiyocj9v3" data-direction="ltr" data-listposition="center" data-data-id="dataItem-kqc8b8eh" data-state="menu false  link" data-index="3" class="Y5j6d _3KF65">
        <a data-testid="linkElement" href=<%= clinic_team_path %> target="_self" class="_2DUrw" aria-haspopup="false" aria-describedby="comp-iiyocj9vnavContainer-hiddenA11ySubMenuIndication">
          <div class="_1u8sp">
            <div class="" style="text-align:center">
              <p class="_1zyfI" style="text-align:center" id="comp-iiyocj9v3label">Clinic Team</p>
            </div>
          </div>
        </a> 
        <!--ul aria-hidden="true" style="display:none">
          <li>
            <a data-testid="linkElement" href="#" target="_self" class="" aria-haspopup="false" tabindex="-1">Professor Akolekar</a>
          </li>
          <li>
            <a data-testid="linkElement" href="#" target="_self" class="" aria-haspopup="false" tabindex="-1">Ashleigh Paige</a>
          </li>
          <li>
            <a data-testid="linkElement" href="#" target="_self" class="" aria-haspopup="false" tabindex="-1">Milena Wezgowiec</a>
          </li>
        </ul-->
      </li><li id="comp-iiyocj9v4" data-direction="ltr" data-listposition="right" data-data-id="dataItem-ij44ja9o" data-state="menu false  link" data-index="4" class="Y5j6d _3KF65">
        <a data-testid="linkElement" href=<%= contact_us_path %> target="_self" class="_2DUrw" aria-haspopup="false" aria-describedby="comp-iiyocj9vnavContainer-hiddenA11ySubMenuIndication">
          <div class="_1u8sp">
            <div class="" style="text-align:center">
              <p class="_1zyfI" style="text-align:center" id="comp-iiyocj9v4label">Contact Us</p>
            </div>
          </div>
        </a>
        <ul aria-hidden="true" style="display:none">
          <li>
            <a data-testid="linkElement" href="#" target="_self" class="" aria-haspopup="false" tabindex="-1">Pregnancy Clinic Epsom</a>
          </li>
          <li>
            <a data-testid="linkElement" href="#" target="_self" class="" aria-haspopup="false" tabindex="-1">Pregnancy Clinic Sevenoaks</a>
          </li>
        </ul>
      </li><li id="comp-iiyocj9v__more__" data-direction="ltr" data-listposition="right" data-state="menu false  header" data-index="__more__" data-dropdown="false" class="_2nffT _3KF65">
        <div data-testid="linkElement" class="_2DUrw" tabindex="0" aria-haspopup="false">
          <div class="_1u8sp">
            <div class="" style="text-align:center">
              <p class="_1zyfI" style="text-align:center" id="comp-iiyocj9v__more__label">More...</p>
            </div>
          </div>
        </div>
      </li></ul>
      
    <div class="_2vbYi" id="comp-iiyocj9vdropWrapper" data-dropalign="center" data-dropdown-shown="false">
      <ul class="_1mmDc" id="comp-iiyocj9vmoreContainer"></ul>
    </div>
    <div style="display:none" id="comp-iiyocj9vnavContainer-hiddenA11ySubMenuIndication">Use tab to navigate through the menu items.</div
  </nav>
</wix-dropdown-menu>